@mixin divider {
  border-bottom: 1px solid var(--line);
}

.page {
  display: flex;
}

.content {
  flex: 72%;
}

.wrapper {
  padding: 0 var(--page-padding-x);
}

.tags-group {
  display: flex;
  align-items: center;
  max-width: 100vw;
  padding: 0 var(--page-padding-x);
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--line);
  overflow-x: auto;
  scroll-behavior: smooth;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.tag-item {
  flex-shrink: 0;
  padding: 0.5em 1em;
  color: var(--text-secondary);
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  cursor: pointer;
}

.tag-item.active {
  color: var(--text-primary);
  border-bottom: 2px solid var(--text-primary);
}

.post-item {
  padding: 1.25rem 0;
  @include divider();

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 1.5rem 0;
  }
}

// .wrapper 中第一个 article 中的 .post-item
.wrapper > article:first-child .post-item {
  @media screen and (min-width: 768px) {
    display: block;
  }

  & .post-image-left {
    display: none;
  }

  & .post-image {
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  & .post-title {
    @media screen and (min-width: 768px) {
      margin-bottom: 0.8rem;
    }
  }

  & .post-title {
    @media screen and (min-width: 1024px) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  & .post-date {
    @media screen and (min-width: 1024px) {
      margin-bottom: 0.6rem;
    }
  }
}

.post-date {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.1rem;
  color: var(--text-tertiary);
}

.post-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--text-primary);

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-excerpt {
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--text-secondary);

  @media screen and (min-width: 768px) {
    line-height: 1.75rem;
  }
}

.post-image {
  margin-bottom: 0.75rem;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.post-image-left {
  display: none;
  width: 12.5rem;
  min-width: 12.5rem;
  margin-right: 1.25rem;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.aside {
  display: none;
  padding: 0 3rem 0 1.25rem;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.aside-title {
  padding-bottom: 1.25rem;
  margin: 1.25rem 0;
  border-bottom: 1px solid var(--line);
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--text-primary);
}

.aside-link {
  display: block;
  color: var(--blue-500);
  // font-size: 0.875rem;
  line-height: 1.2rem;
  margin-bottom: 1.25rem;
  user-select: none;
  -webkit-user-drag: none;
}

.aside-link.active {
  color: var(--text-primary);
  font-weight: bold;
}
