@mixin divider {
  border-bottom: 1px solid var(--line);
}

.page {
  display: flex;
}

.content {
  flex: 72%;
}

.wrapper {
  flex: 1;
  padding: 0 1.25rem;

  & > * {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 768px) {
    & > * {
      margin-bottom: 1.25rem;
    }
  }

  @media screen and (min-width: 1024px) {
    & > * {
      margin-bottom: 1.6rem;
    }
  }
}

.tags-group {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  margin: 0.5rem 0 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.tag-item {
  flex-shrink: 0;
  padding: 0.5em 1em;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid var(--line);
  color: var(--text-secondary);
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  border-radius: 999em;
  user-select: none;
  -webkit-user-drag: none;
}

.tag-item.active {
  border: 0;
  color: var(--text-primary-reverse);
  background-color: var(--text-primary);
}

.post-item {
  @include divider();

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.wrapper > article:first-child .post-item {
  @media screen and (min-width: 768px) {
    display: block;
  }

  & .post-image-left {
    display: none !important;
  }

  & .post-image {
    @media screen and (min-width: 768px) {
      display: block !important;
    }
  }

  & .post-title {
    @media screen and (min-width: 1024px) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  & .post-date {
    @media screen and (min-width: 1024px) {
      margin-bottom: 0.6rem;
    }
  }
}

.post-date {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.1rem;
  color: var(--text-tertiary);
}

.post-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--text-primary);

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-excerpt {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--text-secondary);

  @media screen and (min-width: 768px) {
    line-height: 1.75rem;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 1.6rem;
  }
}

.post-image {
  margin-bottom: 0.75rem;

  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.post-image-left {
  display: none;
  width: 12.5rem;
  min-width: 12.5rem;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  @media screen and (min-width: 768px) {
    display: block !important;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 1.6rem;
  }
}

.aside {
  display: none;
  width: 20rem;
  padding: 0 1.25rem;
  margin-left: 2rem;

  @media screen and (min-width: 1024px) {
    display: block;
    flex: 28;
  }
}

.aside-title {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--text-primary);
}

.aside-link-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.aside-link {
  padding: 0.5em 1em;
  margin: 0 0.8em 0.8em 0;
  border: 1px solid var(--line);
  color: var(--text-secondary);
  font-size: 0.875rem;
  line-height: 1.0625rem;
  border-radius: 999em;
  user-select: none;
  -webkit-user-drag: none;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.aside-link.active {
  border: 0;
  color: var(--text-primary-reverse);
  background-color: var(--text-primary);
}
