@mixin divider {
  border-bottom: 1px solid var(--line);
}

.page {
  display: flex;
}

.wrapper {
  padding: 0 1.25rem;

  & > * {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 768px) {
    & > * {
      margin-bottom: 1.25rem;
    }
  }
}

.post-mobile {
  @include divider();

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.post-desktop {
  display: none;
  flex-direction: row;

  @include divider();

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.post-date {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--text-tertiary);
}

.post-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--text-primary);

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-excerpt {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--text-secondary);

  @media screen and (min-width: 768px) {
    line-height: 1.75rem;
  }
}

.post-image {
  margin-bottom: 0.75rem;

  @media screen and (min-width: 768px) {
    width: 12.5rem;
    min-width: 12.5rem;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
  }
}

.aside {
  flex: 40%;
  display: none;
  padding: 0 1.25rem;
  margin-left: 2.5rem;

  & > * {
    display: block;
    margin-bottom: 1.25rem;
    color: var(--teal-500);
  }

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.aside-subtitle {
  font-size: 0.875rem;
  color: var(--text-secondary);
}
